Arrandor_V001/Saved/Logs/Arrandor_V001.log
Arrandor_V001/Saved/AutoScreenshot.png
Arrandor_V001/Saved/Autosaves/PackageRestoreData.json
Arrandor_V001/Saved/Autosaves/Game/Arrandor/Core/Struts/Arrandor_CardLists_CorruptedUnits_Auto5.uasset
Arrandor_V001/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Arrandor_V001/Saved/Config/WindowsEditor/Engine.ini
